<?xml version="1.0"?>
<config>
    <modules>
        <Moonrose_Ajaxcategories>
            <version>1.0.1</version>
        </Moonrose_Ajaxcategories>
    </modules>
    <frontend>
        <routers>
            <ajaxcategories>
                <use>standard</use>
                <args>
                    <module>Moonrose_Ajaxcategories</module>
                    <frontName>ajaxcategories</frontName>
                </args>
            </ajaxcategories>
        </routers>
        <layout>
            <updates>
                <ajaxcategories>
                    <file>ajaxcategories.xml</file>
                </ajaxcategories>
            </updates>
        </layout>
		<translate>
            <modules>
                <Moonrose_Ajaxcategories>
                    <files>
                        <default>Moonrose_Ajaxcategories.csv</default>
                    </files>
                </Moonrose_Ajaxcategories>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<ajaxcategories>
				<use>admin</use>
				<args>
					<module>Moonrose_Ajaxcategories</module>
					<frontName>ajaxcategories</frontName>
				</args>
			</ajaxcategories>
        </routers>
    </admin>
    <adminhtml>
		<translate>
            <modules>
                <Moonrose_Ajaxcategories>
                    <files>
                        <default>Moonrose_Ajaxcategories.csv</default>
                    </files>
                </Moonrose_Ajaxcategories>
            </modules>
        </translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
		<layout>
			<updates>
				<ajaxcategories>
					<file>ajaxcategories.xml</file>
				</ajaxcategories>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<models>
            <ajaxcategories>
                <class>Moonrose_Ajaxcategories_Model</class>
                <resourceModel>ajaxcategories_mysql4</resourceModel>
            </ajaxcategories>
		</models>	
        <resources>
            <ajaxcategories_setup>
                <setup>
                    <module>Moonrose_Ajaxcategories</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcategories_setup>
            <ajaxcategories_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcategories_write>
            <ajaxcategories_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcategories_read>
        </resources>
        <blocks>
            <ajaxcategories>
                <class>Moonrose_Ajaxcategories_Block</class>
            </ajaxcategories>
        </blocks>
        <helpers>
            <ajaxcategories>
                <class>Moonrose_Ajaxcategories_Helper</class>
            </ajaxcategories>
        </helpers>
    </global>
</config>